button{
    padding: 10px 20px;
    background-color: orange;
    border: none;
    border-radius: 10px;    
}
button a{
    text-decoration: none;
    color: aliceblue;
}
.box-container{
    width: 800px;
    height:500px;
    border:1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.box{
    font-size: 25px;
    border: 1px solid salmon;
    border-radius: 5px;
    text-align: center;
    padding: 10px 25px;
    width: 100px;
    height: 50px;

}
/* Grid CSS Section */
.grind-container{
    background-color: bisque;
    margin-bottom: 20px;


}
.grid-items{
    /* height: 500px; */
    border: 1px dashed gray;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr) 2fr; */
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 200px 1fr ;
    /* grid-template-columns: repeat(3, 200px) auto; */
    gap: 10px;
    /* justify-content: center; */
    justify-content: center;    
    /* align-items: stretch; */        
    

}
.grid-item{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;

}
.form-container{
    
    width: 80%;
    background-color: bisque;
    margin: 0 auto;
    margin-top: 100px;
}
.form-data{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    margin: 0 auto;
    
}
.form-data input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: .5px solid gray;
}    

/* Responsive Practice */

.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:10px


}
.items{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.items img{
    width:80%;
}
.items h3{
    background-color: rgb(22, 20, 43);
    color: aliceblue;
    width: 100%;  
    text-align: center;  
}
/* Small Device */
@media screen and (max-width:576px){
    .container{    
        grid-template-columns:repeat(1, 1fr);
    }  
   .items img{
        width:90%;
    }
}

/* Medium Device */

@media screen and (min-width:577px) and (max-width:768px){
    .container{    
    grid-template-columns:repeat(2, 1fr);
}    
}
